.bg{
    background-image: linear-gradient(to bottom right, rgb(22, 11, 121), rgb(241, 78, 13));
}
.b{
    margin-left: auto;
    margin-right: auto;
    gap: 3rem;
}
#c{
    color: azure;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
}
#d{
    color: rgb(182, 137, 77);
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
}
#e{
    color: rgb(251, 251, 252);
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
}
#f{
    color: rgb(22, 11, 121);
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
}
#c:hover{
    color: rgb(182, 137, 77);
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    transform: scale(1.1);
}
#f:hover{
    color: rgb(182, 137, 77);
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
}
#im{
    height: 550px;
}
#g{
    height: 350px;
}